---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import FormattedDate from '../../components/FormattedDate.astro';

export async function getStaticPaths() {
  const poems = await getCollection('poems');
  return poems.map(poem => ({
    params: { id: poem.id },
    props: { poem },
  }));
}

const { poem } = Astro.props;
---

<BaseLayout title={poem.data.title} description={poem.data.description} minimalLayout={true}>
  <article>
    <div class="post-meta">
      <time datetime={poem.data.pubDate.toISOString()}>
        <FormattedDate date={poem.data.pubDate} />
      </time>
    </div>
    <h1>{poem.data.title}</h1>
    <pre class="poem-content">{poem.body}</pre>
    <p class="poem-description">{poem.data.description}</p>
  </article>
</BaseLayout>

<style>
  .poem-description {
    color: var(--theme-secondary);
    font-size: var(--step--1);
    font-style: italic;
  }

  .poem-content {
    white-space: pre-wrap;
    line-height: var(--line-height-relaxed);
    overflow-x: auto;
  }

  h1 {
    font-size: var(--step-2);
    margin-bottom: var(--space-l);
    margin-top: 0;
  }

  time {
    font-size: var(--step--1);
    color: var(--theme-secondary);
  }
</style>

